.container {
    position: relative;
    width: 960px;
    margin: 80px auto;
    background-color: white;
}

body {
    background-color: gray;
    background-image: url(../img/congruent_pentagon.png);
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 0px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 5px;
    padding-bottom: 10px;
}

.header a:hover {
    background-color: salmon;
    color: white;
}

.hero {
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightskyblue;
    height: 380px;
    /* background position punya 2 value, pertama untuk vertical kedua untuk horisontal */
    background-position: 0 -150px;
    /* background-size cover digunkana untuk ngepasin image nya biar mengcover containernya */
    background-size: cover;
    background-image: url('../img/wateredited.jpg');
}

.main {
    padding: 20px;
    box-sizing: border-box;
    width: 600px;
    float: left;
}

.sidebar {
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
    float: right;
}

.sidebar img {
    padding-right: 10px;
    width: 70px;
    height: 70px;
    float: left;
}

.sidebar h3 {
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
}

.sidebar p {
    font: 12px/18px arial;
}

.main h2 {
    font-size: 32px;
    font-weight: bold;
}

.main .penulis {
    font-size: 11px;
}

.main .penulis a {
    text-decoration: none;
    color: salmon;
}

.main .penulis a:hover {
    background-color: salmon;
    color: white;
}

.main p {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 14px;
}

.footer {
    padding: 10px;
    background-color: #333;
}

.footer .copy {
    text-align: center;
    color: #eaeaea;
}

.container a.ribbon {
    position: absolute;
    right: -30px;
    top: -24px;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    width: 220px;
    height: 220px;
    background-image: url("../img/twitter.png");
}

.topbar {
    border-bottom: 5px solid lightskyblue;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background-color: salmon;
}